<mat-toolbar color="primary">
  <span>Github Profile Viewer</span>
</mat-toolbar> <br><br>

<div class="username" style="max-width: 500px; margin-left: 450px;">
  <mat-form-field class="matinput" >
    <input [type]="inputType" [(ngModel)]="username" matInput placeholder="Github user name">
  </mat-form-field> <br>
<button mat-raised-button color="primary" (click)=search()> Find Me </button> <br><br>

<mat-card class="card1" *ngIf="data" style=" color: blue;" >
  <mat-card-header>
    <mat-spinner *ngIf="showspinner"></mat-spinner>
    <mat-card-title> {{data?.name}} </mat-card-title>
    <mat-card-subtitle> {{data?.location}} </mat-card-subtitle>
  </mat-card-header>
  <img [src]="data?.avatar_url" class=" card-img" alt="SEARCH RESULT"><br>
  Go to <a [href]="data?.html_url" class=" card-url" target="_blank"> {{data.name}} profile</a>
</mat-card>

<mat-card class="card2" *ngIf="!data" style=" color: blue;" >
    <mat-spinner *ngIf="showspinner"></mat-spinner>
    NO DATA FOUND!!!
</mat-card>
</div>
